In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv("bank-additional-full.csv", sep=";")

In [5]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [7]:
data.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [8]:
data = pd.get_dummies(data, drop_first=True)

In [9]:
data

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,y_yes
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,1
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,0
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,0
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,1
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,0,0,0

In [10]:
X, y = data.drop(columns=["y_yes"]), data["y_yes"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.25, 
                                                    random_state=3)

In [12]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8942410410799262

In [ ]:
# from sklearn.model_selection import GridSearchCV
# model = SVC()
# svc_params = {'kernel': ['linear', 'rbf', 'sigmoid'], 'C': np.logspace(0, 4, 5)}
# svc_grid_search = GridSearchCV(estimator=model, param_grid=svc_params, cv=5)
# svc_grid_result = svc_grid_search.fit(X_train, y_train)
# print("Best parameters: ", svc_grid_search.best_params_)

In [ ]:
# svc_params = {'kernel': ['linear', 'rbf', 'sigmoid'], 'C': [0.1, 1, 5]}
# for kernel in svc_params.get('kernel'):
#   for C in svc_params.get('C'):
#     model = SVC(kernel = kernel, C= C)
#     model.fit(X_train, y_train)
#     print(model)
#     print(model.score(X_test, y_test))

SVC(C=0.1, kernel='linear')
0.8662717296299893
SVC(C=1, kernel='linear')
0.9032727979023016

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [15]:
knn_params = {'n_neighbors': [i for i in range(2, 6)], 'weights': ['uniform', 'distance']}
for n in svc_params.get('n_neighbors'):
  for w in svc_params.get('weights'):
    model = KNeighborsClassifier(n_neighbors=n, weights=w)
    model.fit(X_train, y_train)
    print(model)
    print(model.score(X_test, y_test))

KNeighborsClassifier(n_neighbors=2)
0.8963775857045742
KNeighborsClassifier(n_neighbors=2, weights='distance')
0.8848208215985238
KNeighborsClassifier(n_neighbors=3)
0.8956006603865203
KNeighborsClassifier(n_neighbors=3, weights='distance')
0.89501796639798
KNeighborsClassifier(n_neighbors=4)
0.8989997086530057
KNeighborsClassifier(n_neighbors=4, weights='distance')
0.8969602796931145
KNeighborsClassifier()
0.9009420219481402
KNeighborsClassifier(weights='distance')
0.8994852869767893

In [18]:
from sklearn.model_selection import GridSearchCV
model = KNeighborsClassifier()
knn_params = {'n_neighbors': [i for i in range(2, 6)], 'weights': ['uniform', 'distance']}
knn_grid_search = GridSearchCV(estimator=model, param_grid=knn_params, cv=5)
knn_grid_result = knn_grid_search.fit(X_train, y_train)
print("Best parameters: ", knn_grid_search.best_params_)
print("Best score: ", knn_grid_search.best_score_)

Best parameters:  {'n_neighbors': 4, 'weights': 'uniform'}
Best score:  0.9061862223947894